
**/node_modules


log.txt
scripts/test.sh
sample-command
sign/vendor
sign/Gopkg.*
server/access.log
**/sig
**/docker-compose-deploy-*.yaml
blockchain-explorer/logs/*

net_testing/**/

docker-compose-ca.yaml
crypto-config

caliper/fabric.json
**/log/
report-*.html


/channel-artifacts/*.tx
/channel-artifacts/*.block
/channel-artifacts/*.json
